<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Portfólio e Currículo | Rony Mesquita da Silva</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"content="Currículo e portfólio pessoal para informar e passar os conhecimentos que aprendiz assim como experiência profissional e dados de contato.">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="icon" href="/assets/img/favicon.png">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
</head>
  <body>
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center navbar" role="navigation">
      <!-- Avatar image in top left corner -->
      <picture>
        <source srcset="/assets/img/portrait.webp">
        <img src="/assets/img/portrait.png" style="width:100%" alt="Retrato" title="Retrato">
      </picture>
      <a href="#" class="w3-bar-item navbar__item w3-hover-white w3-button w3-black">
        <i class="fas fa-home w3-xxlarge"></i>
        <p>PÁGINA INICIAL</p>
      </a>
      <a
        href="#about"
        class="w3-bar-item navbar__item w3-hover-white w3-button w3-hover-black">
        <i class="fas fa-user w3-xxlarge"></i>
        <p>SOBRE</p>
      </a>
      <a
        href="#photos"
        class="w3-bar-item navbar__item w3-hover-white w3-button w3-hover-black">
        <i class="fas fa-briefcase w3-xxlarge"></i>
        <p>PROJETOS</p>
      </a>
      <a
        href="#contact"
        class="w3-bar-item navbar__item w3-hover-white w3-button w3-hover-black">
        <i class="fas fa-envelope w3-xxlarge"></i>
        <p>CONTATO</p>
      </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <nav class="w3-top w3-hide-large w3-hide-medium" id="myNavbar" role="navigation">
      <div
        class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#" class="w3-bar-item navbar__item w3-button" style="width:25% !important">PÁGINA INICIAL</a>
        <a
          href="#about"
          class="w3-bar-item navbar__item w3-button"
          style="width:25% !important">
          SOBRE</a>
        <a
          href="#photos"
          class="w3-bar-item navbar__item w3-button"
          style="width:25% !important">
          PROJETOS
        </a>
        <a
          href="#contact"
          class="w3-bar-item navbar__item w3-button"
          style="width:25% !important">
          CONTATO
        </a>
      </nav>
    </div>

    <!-- Page Content -->
    <main class="w3-padding-large page-content__container" id="main" role="main">
      <!-- Header/Home -->
      <header class="w3-container w3-padding-32 w3-center page-content about__title" id="home" role="heading">
        <h1 class="w3-jumbo">
          Rony Mesquita
        </h1>
        <p>Técnico em informática, desenvolvedor e assessor para tecnologia.</p>
      </header>

      <!-- About Section -->
      <div class="w3-content w3-justify w3-text-grey page-content" id="about">
        <h2 class="page-content__title">Sobre</h2>
        <hr style="width:200px" class="w3-opacity" />
        <p class="page-content__text">
          Meu nome é Rony, moro na zonal sul de São Paulo, possuo 19 anos e conclui o ensino médio junto ao técnico de informática em 2017.
        </p>
        <p class="page-content__text">Adquiri conhecimento computação em nuvem, contêineres, desenvolvimento de sites e administração de sistemas Linux. Tendo aplicados essas competências para criar este currículo, implantar o e-mail que responde pelas mensagem.</p>
        <p class="page-content__text">As demais áreas da informática, como pacote Microsoft Office, internet e uso de sistema para criação de tickets e suporte a chamados, aprendi ao longo do curso e ao longo do histórico profissional.</p>
        <h3 class="w3-padding-16 page-content__title page-content__title_color-variant-1">Habilidades</h3>
        <p class="progress-bar__title"><i class="fas fa-passport"></i> Web Design</p>
        <div class="w3-white progress-bar">
          <div class="progress-bar__line" style="width:95%"></div>
        </div>
        <p class="progress-bar__title"> <i class="fas fa-layer-group"></i> Full stack</p>
        <div class="w3-white progress-bar">
          <div class="progress-bar__line" style="width:85%"></div>
        </div>
        <p class="progress-bar__title"><i class="fas fa-cloud"></i> Computação em Nuvem</p>
        <div class="w3-white progress-bar">
          <div class="progress-bar__line" style="width:80%"></div>
        </div>
        <p class="progress-bar__title"><i class="fab fa-linux"></i> Linux</p>
        <div class="w3-white progress-bar">
          <div class="progress-bar__line" style="width:80%"></div>
        </div>
        <br />

        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-green w3-text-light-gray">
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">3+</span><br />
            Anos de estudo e aprendizado
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">2+</span><br />
            Projetos
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">1+</span><br />
            Experiências profissionais
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">4</span><br />
            Projetos no <a href="https://github.com/ronymesquita">GitHub</a>
          </div>
        </div>

        <a class="w3-button w3-light-green w3-text-light-gray w3-padding-large w3-section"
          href="https://www.dropbox.com/s/5m9w2hp8rrn9zc0/Curr%C3%ADculo.pdf?dl=0">
          <i class="fas fa-cloud-download-alt"></i> Baixar Currículo
        </a>

        <!-- End About Section -->
      </div>

      <!-- Portfolio Section -->
      <div class="w3-content page-content" id="photos">
        <h2 class="page-content__title page-content__title_color-variant-2">Galeria</h2>
        <hr style="width:200px" class="w3-opacity" />

        <!-- Grid for professional experience -->
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="/assets/img/html5.png"
              class="portfolio-item"
              alt="HTML5"
              title="HTML5" />
            <img src="/assets/img/css3.png"
              class="portfolio-item"
              alt="CSS3"
              title="CSS3" />
            <img src="/assets/img/javascript.png"
              class="portfolio-item"
              alt="JavaScript"
              title="JavaScript" />
          </div>

          <div class="w3-half">
            <img src="/assets/img/aws.png"
              class="portfolio-item"
              alt="Amazon AWS"
              title="Amazon AWS" />
            <img src="/assets/img/google-cloud.png"
              class="portfolio-item"
              alt="Google Cloud"
              title="Google Cloud" />
            <img src="/assets/img/azure.png"
              class="portfolio-item"
              alt="Microsoft Azure"
              title="Microsoft Azure" />
          </div>

          <div class="w3-half">
            <img src="/assets/img/docker.png"
              class="portfolio-item"
              alt="Docker"
              title="Docker" />
            <img src="/assets/img/kubernetes.png"
              class="portfolio-item"
              alt="kubernetes"
              title="kubernetes" />
            <img src="/assets/img/virtualbox.png"
              class="portfolio-item"
              alt="VirtualBox"
              title="VirtualBox" />
          </div>

          <div class="w3-half">
            <img src="/assets/img/java.png"
              class="portfolio-item"
              alt="Java"
              title="Java" />
            <img src="/assets/img/spring.png"
              class="portfolio-item"
              alt="Spring Framework"
              title="Spring Framework" />
            <img src="/assets/img/mariadb.png"
              class="portfolio-item"
              alt="MariaDB"
              title="MariaDB" />
          </div>
          <!-- End photo grid -->
        </div>
        <!-- End Portfolio Section -->
      </div>

      <!-- Contact Section -->
      <div class="w3-content w3-text-grey page-content" id="contact">
        <h2 class="page-content__title page-content__title_color-variant-3">Contato</h2>
        <hr style="width:200px" class="w3-opacity" />

        <div class="w3-section">
          <p>
            <i
              class="fas fa-drafting-compass w3-text-black w3-xxlarge w3-margin-right"></i>
            São Paulo, BR
          </p>
          <p>
            <i
              class="fas fa-mobile-alt w3-text-black w3-xxlarge w3-margin-right"></i>
            Celular: <a href="tel:+55-11-96343-9576">(11) 96343-9576</a>
          </p>
          <p>
            <i
              class="fas fa-envelope w3-text-black w3-xxlarge w3-margin-right">
            </i>
            E-mail: <a href="mailto:work@ronymesquita.site">work@ronymesquita.site</a>
          </p>
        </div>
        <br />
        <p>Enviar uma mensagem:</p>

        <form action="mailto:work@ronymesquita.site" enctype="text/plain" role="form">
          <p>
            <input
              class="w3-input w3-padding-16"
              type="text"
              placeholder="Nome"
              required
              name="Nome" />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16"
              type="text"
              placeholder="E-mail"
              required
              name="E-mail" />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16"
              type="text"
              placeholder="Assunto"
              required
              name="Assunto" />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16"
              type="text"
              placeholder="Mensagem"
              required
              name="Mensagem" />
          </p>
          <p>
            <button
              class="w3-button w3-orange w3-margin-top w3-padding-large w3-round w3-text-white"
              type="submit">
              <i class="fas fa-paper-plane"></i> MANDAR
            </button>
          </p>
        </form>
        <!-- End Contact Section -->
      </div>

      <!-- Footer -->
      <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge page-content" role="contentinfo">
        <a href="https://www.linkedin.com/in/rony-mesquita-da-silva">
          <i class="fab fa-linkedin-in w3-hover-opacity"></i>
        </a>
        <p class="w3-medium">
          Rony Mesquita da Silva
          <a
            href="#"
            class="w3-hover-text-green">ronymesquita.site</a>
        </p>
        <!-- End footer -->
      </footer>

      <!-- END PAGE CONTENT -->
    </main>
  </body>
</html>
