/* Text colors */
$bg-light: rgba(253, 255, 252, 1);
$bg-primary: rgba(35, 87, 137, 1);
$bg-success: #7fb069;
$bg-danger: #fb3640;
$bg-info: #34f6f2;
$bg-light: #e3e9c2;
$bg-warning: rgba(255, 165, 0, 1);
$bg-secondary: rgba(8, 76, 97, 1);
$bg-muted: #4c5454;
$bg-dark: rgba(2, 1, 0, 1);
$bg-white: white;
$bg-black: black;

/* Background colors */
$text-light: rgba(253, 255, 252, 1);
$text-primary: rgba(35, 87, 137, 1);
$text-success: #7fb069;
$text-danger: #fb3640;
$text-info: #34f6f2;
$text-light: #e3e9c2;
$text-warning: rgba(255, 165, 0, 1);
$text-secondary: rgba(8, 76, 97, 1);
$text-muted: #4c5454;
$text-dark: rgba(2, 1, 0, 1);
$text-white: white;
$text-black: black;